#nav {
	margin-left:10%;
	margin-right:10%;
	letter-spacing:.5em;
	line-spacing:2em;
	font-size:.75em;
}

a:link {
	margin-left:8%;
    text-decoration: none;
	font-family:sans-serif;
	color:#191a1c
	
}
a:hover {
	color:green;
}

a:active {
	color:#bcc1ce;
}
#link {
	margin-left:30%;
	margin-right:30%;
	margin-top:20px;
	margin-bottom:20px;
	border-top:1px solid black;
}
#caption {
	font-family:sans-serif;
	font-weight:100;
	letter-spacing:1px;
	line-height:2em;
	font-size:.75em;
	text-align: left;
	position: relative;
	height: auto;
	width: auto;
	margin-top:10px;
	
}

#insta {
		position:center;
}

#twitter {
	position:center;
}
.twitter-mention-button {
		margin:5px;

}
#bio {
	font-family:sans-serif;
	position:relative;
	float:left;
	width:100%;
	margin-bottom:30px;
	margin-left:20%;
	margin-top:50px;
	margin-right:40%;
	letter-spacing:1px;
	line-height:1.5em;
	text-align:left;
	max-width:500px;
}
#mail {
	position:center;
}
#main {
	float:left;
	width:70%;
}
#morecolumn {
	float:left;
	height:900px;
}
#mainimage {
	float:left;
    margin-left:20%;
	margin-top:30px;
}
.bigimage {
	float:left;
    margin-left:30%;
	margin-top:5px;
	border-top:1px solid black;
	width:300px;
}

#more {
	float:left;
	margin-left:20%;
	margin-top:30px;
	font-family:sans-serif;
	font-weight:200;
}

#moreimages {
	clear:both;
	float:left;
	margin-left:20%;
	margin-top:30px;
}
#moreimages2 {
	clear:both;
	float:left;
	margin-left:20%;
	margin-top:30px;
}

#name {
	clear:both;
	font-family:sans-serif;
	font-size:2em;
	width:100%;
	text-align:center;
	margin-top:50px;
}
h1 {
	font-family:sans-serif;
	margin-bottom:30px;
}
#contactstuff {
	Margin-left:40%;
	float:left;
}
#show9 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:20%
}
#show8 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:20%
}
#show7 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:20%
}
#show6 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:20%
}
#show5 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:20%
}
#show4 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:20%
}
#show3 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:20%
}
#show2 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:20%
}
#show1 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-left:20%;
    margin-bottom:30px;
}
.dates {
	font-family:sans-serif;
	float:left;
	margin-left:5%;
	letter-spacing:1px;
	line-height:1.5em;
	margin-bottom:60px;
}
