.dropbtn {
	background-image: url("menu40.png");
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
	margin-top:10px;
    border: none;
    cursor: pointer;
	z-index:1;
}

.dropdown {
    position: relative;
    display: inline-block;
	border-radius:5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	letter-spacing:.5em;
	font-size:.75em;
	padding-right:10px;
	border-radius:5px;
	
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

a:link {
    text-decoration: none;
	font-family:sans-serif;
	color:black;
}
a:hover {
	color:red;
}

a:active {
	color:#bcc1ce;
}
#link {
	margin-left:30%;
	margin-right:30%;
	margin-top:20px;
	margin-bottom:20px;
	border-top:1px solid black;
}
#caption {
	font-family:sans-serif;
	font-weight:100;
	letter-spacing:1px;
	line-height:2em;
	font-size:.75em;
	text-align: left;
	position: relative;
	height: auto;
	width: auto;
	margin-top:10px;
}


body {
	width:100%;
}

#name {
	position:relative;
	text-align:center;
	font-family:sans-serif;
	font-size:2em;
	width:100%;
	z-index:-3;
}

#caption {
	font-family:sans-serif;
	font-weight:100;
	letter-spacing:1px;
	line-height:2em;
	font-size:.75em;
	text-align: left;
	position: relative;
	height: auto;
	width: auto;
	margin-top:10px;
}

#insta {
		position:center;
}

#twitter {
	position:center;
}

#bio {
	font-family:sans-serif;
	position:relative;
	float:left;
	width:100%;
	margin-bottom:30px;
	margin-left:20%;
	margin-top:50px;
	margin-right:40%;
	letter-spacing:1px;
	line-height:1.5em;
	text-align:left;
	max-width:500px;
}
#mail {
	position:center;
}
#main {
	position:relative;
	float:left;
	width:800px;
	clear:both;
	margin-top:80px;
	z-index:-1;
}
#mainimage {
	margin-left:20%;
}

#morecolumn {
	position:relative;
	float:left;
	z-index:2;
}

.bigimage {
	float:left;
    margin-left:30%;
	margin-top:5px;
	border-top:1px solid black;
	width:300px;
}


#more {
	position:relative;
	float:left;
	margin-top:80px;
	font-family:sans-serif;
	font-weight:200;
}

#moreimages {
	float:left;
	clear:both;
	margin-top:30px;
}
#moreimages2 {
	clear:both;
	float:left;
	margin-top:30px;
}
#moreimages3 {
	clear:both;
	float:left;
	margin-top:30px;
}


#show9 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:30%
}
#show8 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:30%
}
#show7 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:30%
}
#show6 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:30%
}
#show5 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:30%
}
#show4 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:30%
}
#show3 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:30%
}
#show2 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-bottom:30px;
	margin-left:30%
}
#show1 {
	clear:both;
	font-family:sans-serif;
	float:left;
	margin-left:20%;
	margin-left:30%
}
.dates {
	font-family:sans-serif;
	float:left;
	margin-left:2%;
	letter-spacing:1px;
	line-height:1.5em;
	margin-bottom:60px;
}

#insta {
		position:relative;
}

#twitter {
	    position:relative;
		
}
#mail {
	    position:relative;
		
}

#bio {
	font-family:sans-serif;
	position:relative;
	float:left;
	width:100%;
	margin-bottom:30px;
	margin-left:20%;
	margin-top:50px;
	margin-right:40%;
	letter-spacing:1px;
	line-height:1.5em;
	text-align:left;
	max-width:500px;
}


h1 {
	font-family:sans-serif;
	margin-bottom:30px;
}
#contactstuff {
	margin-left:40%;
	float:left;

